---
import Layout from '../../layouts/Layout.astro';
import { getLatestLaunches, getLaunchById } from '../../services/spacex'

const { id } = Astro.params

let launch
if (id) {
  launch = await getLaunchById({id})
}

export async function getStaticPaths(){

  const launches = await getLatestLaunches()

  return launches.map(launch => (
    { params: { id: launch.id }}
  ))
}

---

<Layout title={`Launch ${id}`}>
  <article class="flex gap-y-4 flex-col">
    <img
      class="w-52 h-auto"
      src={launch?.links?.patch.small}
      alt={launch?.name}
    >
    <h2 class="text-4xl text-white font-semibold">
      Launch #{launch?.flight_number}
    </h2>
    <p class="text-lg">{launch?.details}</p>
  </article>
</Layout>