---
interface Props {
  id: string
  name: string
  img: string
  success: string
  flightNumber: number
  details: string
}

const {id, name, img, success, flightNumber, details }= Astro.props
const successText = success ? 'Success!' : 'Failure'
---

<a 
  href={`/launch/${id}`}
  class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:scale-105 hover:bg-gray-700 hover:border.gray-500 transition flex flex-col"
>
  <picture class="flex justify-center p-4">
    <img class="mb-5 rounded-lg" src={img} alt={`Patch for launch ${id}`} />
  </picture>

  <header class="p-4 flex-grow">
    <span class={`text-xs font-semibold mr-2 px-2.5 py-0.5 rounded
    ${ success ? 'bg-green-200 text-green-900' : 'bg-red-200 text-red-900'}`}>
      {successText}
    </span>

    <h2 class="my-2 text-2xl font-bold tracking-tight text-white">
      Flight #{flightNumber}
    </h2>

    <p class="mb-4 font-light text-gray-400">
      {details?.length > 100 ? details.slice(0,100) + '...': details}
    </p>
  </header>
</a>