---
import CardLaunch from './CardLaunch.astro';
import { getLatestLaunches } from '../services/spacex.ts'


const launches = await getLatestLaunches()
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {
    launches.map(
      ({id, links, details, flight_number, success}) => (
      <CardLaunch
        id={id}
        img={links.patch.small}
        details={details}
        flightNumber={flight_number}
        success={success}
      />
    ))
  }
</div>

<style>
	
</style>
